# Actions Data Exploration
In this notebook we'll explore the different `actionType`s that compose the data obtained from the live `PlayByPlay` endpoint.

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
SEASON_ID = '22024'
GAME_ID = '0022400630'

In [3]:
data_path = Path("~/MBAI/data").expanduser()
season_path = data_path / f"rs{SEASON_ID}"
game_path = season_path / f"g{GAME_ID}"
pbp_path = game_path / "playbyplay"

In [4]:
df = pd.read_parquet(pbp_path / "actions.parquet")

In [5]:
df

/home/mrrobot/anaconda3/envs/MBAI/lib/python3.13/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
/home/mrrobot/anaconda3/envs/MBAI/lib/python3.13/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
/home/mrrobot/anaconda3/envs/MBAI/lib/python3.13/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
/home/mrrobot/anaconda3/envs/MBAI/lib/python3.13/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,clock,timeActual,period,actionType,subType,personId,x,y,possession,scoreHome,...,jumpBallRecoveredPersonId,jumpBallWonPersonId,jumpBallLostPersonId,shotDistance,shotResult,blockPersonId,assistPersonId,officialId,foulDrawnPersonId,stealPersonId
0,0 days 00:12:00,2025-01-25 00:10:48.500000+00:00,1,period,start,<NA>,NaN,NaN,<NA>,0,...,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,0 days 00:11:57,2025-01-25 00:10:50.500000+00:00,1,jumpball,recovered,203995,NaN,NaN,1610612766,0,...,203995,1631109,1642270,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,0 days 00:11:37,2025-01-25 00:11:10.200000+00:00,1,2pt,DUNK,1631109,8.882812,51.96875,1610612766,0,...,<NA>,<NA>,<NA>,3.250000,False,1642270,<NA>,<NA>,<NA>,<NA>
3,0 days 00:11:37,2025-01-25 00:11:10.200000+00:00,1,block,,1642270,NaN,NaN,1610612766,0,...,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,0 days 00:11:34,2025-01-25 00:11:13.200000+00:00,1,rebound,defensive,1642270,NaN,NaN,1610612757,0,...,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0 days 00:00:10.700000,2025-01-25 02:30:23.300000+00:00,4,2pt,DUNK,1631109,94.062500,51.71875,1610612766,95,...,<NA>,<NA>,<NA>,0.930176,True,<NA>,1630182,<NA>,<NA>,<NA>
607,0 days 00:00:03.300000,2025-01-25 02:30:35.800000+00:00,4,2pt,DUNK,1641739,7.441406,52.68750,1610612757,95,...,<NA>,<NA>,<NA>,2.199219,True,<NA>,1629014,<NA>,<NA>,<NA>
608,0 days 00:00:00,2025-01-25 02:30:44.700000+00:00,4,2pt,Layup,1631109,94.437500,47.06250,1610612766,97,...,<NA>,<NA>,<NA>,1.469727,True,<NA>,1641733,<NA>,<NA>,<NA>
609,0 days 00:00:00,2025-01-25 02:30:53.700000+00:00,4,period,end,<NA>,NaN,NaN,1610612757,97,...,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
610,0 days 00:00:00,2025-01-25 02:30:57.900000+00:00,4,game,end,<NA>,NaN,NaN,<NA>,97,...,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [7]:
df['actionType'].unique()

<StringArray>
[      'period',     'jumpball',          '2pt',        'block',
      'rebound',          '3pt',         'foul', 'substitution',
      'timeout',     'turnover',        'steal',    'freethrow',
    'violation',         'game']
Length: 14, dtype: string

In [8]:
action_subtypes = {
    action: action_df['subType'].unique().tolist()
        for action, action_df in df.groupby('actionType')
}

action_subtypes

{'2pt': ['DUNK', 'Jump Shot', 'Layup', 'Hook'],
 '3pt': ['Jump Shot'],
 'block': [''],
 'foul': ['personal', 'offensive', 'technical'],
 'freethrow': ['1 of 2', '2 of 2', '1 of 1'],
 'game': ['end'],
 'jumpball': ['recovered'],
 'period': ['start', 'end'],
 'rebound': ['defensive', 'offensive'],
 'steal': [''],
 'substitution': ['out', 'in'],
 'timeout': ['full'],
 'turnover': ['out-of-bounds',
  'traveling',
  'lost ball',
  'bad pass',
  'offensive foul',
  'shot clock'],
 'violation': ['kicked ball',
  'defensive goaltending',
  'lane',
  'delay-of-game']}

In [9]:
df_by_action = df.groupby('actionType')

In [10]:
period_df = df_by_action.get_group('period').dropna(how='all', axis=1)
period_df

,clock,timeActual,period,actionType,subType,possession,scoreHome,scoreAway
0,0 days 00:12:00,2025-01-25 00:10:48.500000+00:00,1,period,start,<NA>,0,0
122,0 days 00:00:00,2025-01-25 00:31:45.400000+00:00,1,period,end,1610612766,30,22
129,0 days 00:12:00,2025-01-25 00:35:10.900000+00:00,2,period,start,1610612757,30,22
272,0 days 00:00:00,2025-01-25 01:03:32.200000+00:00,2,period,end,1610612757,54,50
279,0 days 00:12:00,2025-01-25 01:18:44.200000+00:00,3,period,start,1610612757,54,50
436,0 days 00:00:00,2025-01-25 01:51:09+00:00,3,period,end,1610612757,75,73
447,0 days 00:12:00,2025-01-25 01:53:43.100000+00:00,4,period,start,1610612766,75,73
609,0 days 00:00:00,2025-01-25 02:30:53.700000+00:00,4,period,end,1610612757,97,102

In [11]:
game_df = df_by_action.get_group('game').dropna(how='all', axis=1)
game_df

,clock,timeActual,period,actionType,subType,scoreHome,scoreAway
610,0 days,2025-01-25 02:30:57.900000+00:00,4,game,end,97,102

In [12]:
jumpball_df = df_by_action.get_group('jumpball').dropna(how='all', axis=1)
jumpball_df

,clock,timeActual,period,actionType,subType,personId,possession,scoreHome,scoreAway,teamId,descriptor,jumpBallRecoveredPersonId,jumpBallWonPersonId,jumpBallLostPersonId
1,0 days 00:11:57,2025-01-25 00:10:50.500000+00:00,1,jumpball,recovered,203995,1610612766,0,0,1610612766,startperiod,203995,1631109,1642270

In [13]:
substitution_df = df_by_action.get_group('substitution').dropna(how='all', axis=1)
substitution_df

,clock,timeActual,period,actionType,subType,personId,possession,scoreHome,scoreAway,teamId
39,0 days 00:07:11,2025-01-25 00:15:59.700000+00:00,1,substitution,out,1628998,1610612757,10,12,1610612766
40,0 days 00:07:11,2025-01-25 00:15:59.700000+00:00,1,substitution,out,1642270,1610612757,10,12,1610612757
41,0 days 00:07:11,2025-01-25 00:15:59.700000+00:00,1,substitution,out,1629014,1610612757,10,12,1610612757
42,0 days 00:07:11,2025-01-25 00:15:59.700000+00:00,1,substitution,in,1629006,1610612757,10,12,1610612766
43,0 days 00:07:11,2025-01-25 00:15:59.700000+00:00,1,substitution,in,1630703,1610612757,10,12,1610612757
...,...,...,...,...,...,...,...,...,...,...
597,0 days 00:00:17.600000,2025-01-25 02:28:15.800000+00:00,4,substitution,in,1631217,1610612757,93,99,1610612766
600,0 days 00:00:17.600000,2025-01-25 02:29:25.600000+00:00,4,substitution,out,1629006,1610612766,93,100,1610612766
601,0 days 00:00:17.600000,2025-01-25 02:29:25.600000+00:00,4,substitution,out,1631217,1610612766,93,100,1610612766
602,0 days 00:00:17.600000,2025-01-25 02:29:25.600000+00:00,4,substitution,in,1642354,1610612766,93,100,1610612766
603,0 days 00:00:17.600000,2025-01-25 02:29:25.600000+00:00,4,substitution,in,203995,1610612766,93,100,1610612766

In [14]:
timeout_df = df_by_action.get_group('timeout').dropna(how='all', axis=1)
timeout_df

,clock,timeActual,period,actionType,subType,possession,scoreHome,scoreAway,teamId
51,0 days 00:06:59,2025-01-25 00:16:48+00:00,1,timeout,full,1610612766,10,12,1610612766
70,0 days 00:04:39,2025-01-25 00:22:19.900000+00:00,1,timeout,full,1610612757,24,12,1610612757
151,0 days 00:09:35,2025-01-25 00:38:06.700000+00:00,2,timeout,full,1610612757,37,24,1610612757
206,0 days 00:05:53,2025-01-25 00:48:02.600000+00:00,2,timeout,full,1610612766,42,36,1610612766
296,0 days 00:10:20,2025-01-25 01:22:19.700000+00:00,3,timeout,full,1610612757,54,58,1610612766
406,0 days 00:02:49,2025-01-25 01:42:57.200000+00:00,3,timeout,full,1610612766,70,66,1610612757
509,0 days 00:06:40,2025-01-25 02:03:24.300000+00:00,4,timeout,full,1610612766,81,88,1610612766
532,0 days 00:04:33,2025-01-25 02:09:43.700000+00:00,4,timeout,full,1610612757,83,90,1610612757
539,0 days 00:03:31,2025-01-25 02:14:32.700000+00:00,4,timeout,full,1610612757,86,92,1610612757
543,0 days 00:03:08,2025-01-25 02:16:44.700000+00:00,4,timeout,full,1610612766,86,92,1610612766
580,0 days 00:00:30.500000,2025-01-25 02:24:53.800000+00:00,4,timeout,full,1610612766,90,96,1610612757
599,0 days 00:00:17.600000,2025-01-25 02:28:33.300000+00:00,4,timeout,full,1610612766,93,100,1610612766

In [15]:
foul_df = df_by_action.get_group('foul').dropna(how='all', axis=1)
foul_df

,clock,timeActual,period,actionType,subType,personId,possession,scoreHome,scoreAway,teamId,descriptor,officialId,foulDrawnPersonId
38,0 days 00:07:11,2025-01-25 00:15:44.600000+00:00,1,foul,personal,1641733,1610612757,10,12,1610612766,<NA>,1626301,203924
50,0 days 00:06:59,2025-01-25 00:16:38+00:00,1,foul,personal,1631133,1610612766,10,12,1610612757,<NA>,1628487,1631109
63,0 days 00:05:12,2025-01-25 00:21:17.200000+00:00,1,foul,personal,1630166,1610612766,19,12,1610612757,<NA>,1628487,203995
91,0 days 00:02:41,2025-01-25 00:27:31.900000+00:00,1,foul,personal,1629006,1610612757,24,17,1610612766,<NA>,204059,1630703
107,0 days 00:01:16,2025-01-25 00:29:19.800000+00:00,1,foul,personal,1629610,1610612757,28,22,1610612766,<NA>,1628487,1630703
110,0 days 00:00:57.100000,2025-01-25 00:29:53.700000+00:00,1,foul,personal,1630625,1610612766,28,22,1610612757,shooting,204059,1631209
130,0 days 00:11:47,2025-01-25 00:35:12.400000+00:00,2,foul,personal,1631209,1610612757,30,22,1610612766,shooting,1628487,1629014
135,0 days 00:11:27,2025-01-25 00:35:42.900000+00:00,2,foul,offensive,1630166,1610612757,30,24,1610612757,charge,204059,1631209
158,0 days 00:09:18,2025-01-25 00:41:19.100000+00:00,2,foul,personal,203995,1610612757,37,24,1610612766,shooting,204059,1630166
177,0 days 00:07:37,2025-01-25 00:44:20.400000+00:00,2,foul,personal,1630182,1610612757,37,31,1610612766,shooting,204059,1630166
184,0 days 00:07:03,2025-01-25 00:45:43+00:00,2,foul,personal,1629014,1610612766,41,33,1610612757,shooting,204059,1641733
202,0 days 00:06:07,2025-01-25 00:47:34.100000+00:00,2,foul,personal,1631109,1610612757,42,33,1610612766,loose ball,1626301,1631133
220,0 days 00:05:01,2025-01-25 00:52:04.700000+00:00,2,foul,personal,1631109,1610612757,42,36,1610612766,shooting,1626301,1631133
226,0 days 00:04:44,2025-01-25 00:53:12.100000+00:00,2,foul,personal,1631109,1610612757,42,37,1610612766,loose ball,1626301,203924
233,0 days 00:04:38,2025-01-25 00:54:18.100000+00:00,2,foul,personal,1630703,1610612766,42,39,1610612757,<NA>,204059,1641733
234,0 days 00:04:23,2025-01-25 00:54:49.600000+00:00,2,foul,personal,1631101,1610612766,42,39,1610612757,shooting,204059,1641733
255,0 days 00:01:54,2025-01-25 00:58:41.600000+00:00,2,foul,personal,1642354,1610612757,48,46,1610612766,shooting,1628487,1630166
263,0 days 00:00:58.100000,2025-01-25 01:01:12.500000+00:00,2,foul,personal,1630703,1610612766,50,50,1610612757,shooting,1626301,1629006
289,0 days 00:10:35,2025-01-25 01:20:42.700000+00:00,3,foul,personal,203995,1610612757,54,54,1610612766,shooting,1626301,1630166
295,0 days 00:10:20,2025-01-25 01:22:05.200000+00:00,3,foul,personal,203995,1610612757,54,58,1610612766,shooting,1628487,1641739
306,0 days 00:09:02,2025-01-25 01:26:46.700000+00:00,3,foul,personal,1641739,1610612766,54,61,1610612757,shooting,1626301,1629006
319,0 days 00:08:11,2025-01-25 01:28:34.600000+00:00,3,foul,personal,1629006,1610612757,57,61,1610612766,<NA>,1628487,1629014
320,0 days 00:08:06,2025-01-25 01:28:51.400000+00:00,3,foul,personal,1641733,1610612757,57,61,1610612766,<NA>,204059,1630166
342,0 days 00:06:09,2025-01-25 01:32:10.400000+00:00,3,foul,personal,203924,1610612766,61,63,1610612757,shooting,204059,203995
362,0 days 00:04:51,2025-01-25 01:35:04.600000+00:00,3,foul,personal,1631101,1610612766,65,65,1610612757,<NA>,1628487,1641733
373,0 days 00:04:34,2025-01-25 01:35:42.400000+00:00,3,foul,personal,1630625,1610612766,65,65,1610612757,shooting,1626301,1630182
380,0 days 00:03:57,2025-01-25 01:37:28.700000+00:00,3,foul,personal,1631133,1610612766,67,65,1610612757,shooting,1626301,1642354
383,0 days 00:03:39,2025-01-25 01:38:27.700000+00:00,3,foul,personal,1629610,1610612757,69,65,1610612766,shooting,1628487,1631133
388,0 days 00:03:37,2025-01-25 01:39:12.600000+00:00,3,foul,personal,1641739,1610612766,69,65,1610612757,<NA>,1626301,1629006
394,0 days 00:03:22,2025-01-25 01:40:39.400000+00:00,3,foul,personal,1631217,1610612757,70,65,1610612766,shooting,1628487,1630166
398,0 days 00:03:12,2025-01-25 01:41:28.800000+00:00,3,foul,offensive,1631209,1610612766,70,66,1610612766,<NA>,1626301,1630703
400,0 days 00:03:01,2025-01-25 01:41:54.900000+00:00,3,foul,personal,1642354,1610612757,70,66,1610612766,<NA>,1626301,1630703
405,0 days 00:02:49,2025-01-25 01:42:41.700000+00:00,3,foul,personal,1631101,1610612766,70,66,1610612757,shooting,204059,1629006
418,0 days 00:01:26,2025-01-25 01:47:49.700000+00:00,3,foul,personal,1631209,1610612757,75,68,1610612766,<NA>,204059,1630625
428,0 days 00:00:27.300000,2025-01-25 01:49:38.600000+00:00,3,foul,personal,1629006,1610612757,75,72,1610612766,shooting,1626301,1631101
470,0 days 00:09:07,2025-01-25 01:57:13.200000+00:00,4,foul,personal,1642270,1610612766,77,77,1610612757,shooting,1628487,1631109
477,0 days 00:08:59,2025-01-25 01:58:11+00:00,4,foul,personal,1641733,1610612757,78,79,1610612766,shooting,1628487,1631101
480,0 days 00:08:49,2025-01-25 01:58:50.600000+00:00,4,foul,personal,1631101,1610612766,80,80,1610612757,shooting,1628487,203995
484,0 days 00:08:29,2025-01-25 01:59:41.400000+00:00,4,foul,personal,1631109,1610612757,81,80,1610612766,loose ball,1626301,1641739
491,0 days 00:08:07,2025-01-25 02:00:26.700000+00:00,4,foul,personal,1642354,1610612757,81,80,1610612766,shooting,204059,1629014
502,0 days 00:07:13,2025-01-25 02:02:19.800000+00:00,4,foul,technical,1631109,1610612757,81,84,1610612766,defensive-3-second,204059,<NA>
519,0 days 00:05:28,2025-01-25 02:07:36.400000+00:00,4,foul,personal,1630182,1610612757,83,88,1610612766,shooting,1626301,1629014
535,0 days 00:04:04,2025-01-25 02:13:06.700000+00:00,4,foul,personal,203995,1610612757,83,90,1610612766,<NA>,204059,1630166
542,0 days 00:03:08,2025-01-25 02:16:32.800000+00:00,4,foul,personal,1641739,1610612766,86,92,1610612757,<NA>,1626301,1642354
546,0 days 00:02:41,2025-01-25 02:18:40.400000+00:00,4,foul,personal,1631109,1610612757,86,92,1610612766,shooting,1626301,1629014
558,0 days 00:01:30,2025-01-25 02:20:46.300000+00:00,4,foul,personal,1631101,1610612766,86,94,1610612757,shooting,204059,1629006
562,0 days 00:01:29,2025-01-25 02:21:28.200000+00:00,4,foul,personal,1631101,1610612766,87,94,1610612757,shooting,1628487,1629006
573,0 days 00:00:30.500000,2025-01-25 02:23:37.700000+00:00,4,foul,personal,1641739,1610612766,89,96,1610612757,shooting,204059,1631109
586,0 days 00:00:28.100000,2025-01-25 02:26:37.800000+00:00,4,foul,personal,1629006,1610612757,91,96,1610612766,take,1626301,203924
594,0 days 00:00:17.600000,2025-01-25 02:27:42.900000+00:00,4,foul,personal,1629006,1610612757,93,98,1610612766,take,1626301,1630166

In [16]:
violation_df = df_by_action.get_group('violation').dropna(how='all', axis=1)
violation_df

,clock,timeActual,period,actionType,subType,personId,possession,scoreHome,scoreAway,teamId,officialId
142,0 days 00:10:40,2025-01-25 00:36:37.600000+00:00,2,violation,kicked ball,1630166,1610612766,32,24,1610612757,1626301
271,0 days 00:00:19.300000,2025-01-25 01:02:56.600000+00:00,2,violation,defensive goaltending,1641739,1610612766,54,50,1610612757,1626301
348,0 days 00:06:09,2025-01-25 01:33:30.900000+00:00,3,violation,lane,1631133,1610612766,62,63,1610612757,<NA>
579,0 days 00:00:30.500000,2025-01-25 02:24:29.400000+00:00,4,violation,delay-of-game,<NA>,1610612766,90,96,1610612757,204059

In [17]:
turnover_df = df_by_action.get_group('turnover').dropna(how='all', axis=1)
turnover_df

,clock,timeActual,period,actionType,subType,personId,possession,scoreHome,scoreAway,teamId,descriptor,officialId,stealPersonId
81,0 days 00:03:37,2025-01-25 00:26:11+00:00,1,turnover,out-of-bounds,1629006,1610612766,24,17,1610612766,bad pass,<NA>,<NA>
84,0 days 00:03:20,2025-01-25 00:26:42.600000+00:00,1,turnover,traveling,1630625,1610612757,24,17,1610612757,<NA>,204059,<NA>
89,0 days 00:02:47,2025-01-25 00:27:25.900000+00:00,1,turnover,lost ball,1631217,1610612766,24,17,1610612766,<NA>,<NA>,1631133
113,0 days 00:00:33.900000,2025-01-25 00:31:02.400000+00:00,1,turnover,bad pass,1631133,1610612757,30,22,1610612757,<NA>,<NA>,1631217
136,0 days 00:11:27,2025-01-25 00:35:42.900000+00:00,2,turnover,offensive foul,1630166,1610612757,30,24,1610612757,<NA>,204059,<NA>
143,0 days 00:10:27,2025-01-25 00:37:07.700000+00:00,2,turnover,bad pass,203995,1610612766,32,24,1610612766,<NA>,<NA>,1630166
145,0 days 00:10:12,2025-01-25 00:37:22+00:00,2,turnover,lost ball,1629014,1610612757,32,24,1610612757,<NA>,<NA>,1629006
162,0 days 00:08:54,2025-01-25 00:42:26.900000+00:00,2,turnover,traveling,203995,1610612766,37,25,1610612766,<NA>,204059,<NA>
166,0 days 00:08:17,2025-01-25 00:43:14.500000+00:00,2,turnover,bad pass,1629610,1610612766,37,28,1610612766,<NA>,<NA>,1629014
181,0 days 00:07:06,2025-01-25 00:45:35.900000+00:00,2,turnover,bad pass,1630166,1610612757,39,33,1610612757,<NA>,<NA>,1631109
192,0 days 00:06:49,2025-01-25 00:46:42.500000+00:00,2,turnover,lost ball,203924,1610612757,42,33,1610612757,<NA>,<NA>,1631217
216,0 days 00:05:07,2025-01-25 00:51:52.200000+00:00,2,turnover,bad pass,1642354,1610612766,42,36,1610612766,<NA>,<NA>,1630703
242,0 days 00:03:37,2025-01-25 00:56:28+00:00,2,turnover,out-of-bounds,1631101,1610612757,44,41,1610612757,bad pass,204059,<NA>
253,0 days 00:01:59,2025-01-25 00:58:33+00:00,2,turnover,bad pass,1629006,1610612766,48,46,1610612766,<NA>,<NA>,1630166
269,0 days 00:00:34.100000,2025-01-25 01:02:28.900000+00:00,2,turnover,shot clock,<NA>,1610612757,52,50,1610612757,<NA>,204059,<NA>
285,0 days 00:11:09,2025-01-25 01:19:51.900000+00:00,3,turnover,out-of-bounds,203995,1610612766,54,52,1610612766,lost ball,1628487,<NA>
287,0 days 00:10:37,2025-01-25 01:20:38.500000+00:00,3,turnover,bad pass,1641733,1610612766,54,54,1610612766,<NA>,<NA>,1641739
299,0 days 00:10:03,2025-01-25 01:25:28.300000+00:00,3,turnover,bad pass,1641733,1610612766,54,58,1610612766,<NA>,<NA>,1641739
304,0 days 00:09:04,2025-01-25 01:26:43+00:00,3,turnover,lost ball,1630166,1610612757,54,61,1610612757,<NA>,<NA>,1629006
311,0 days 00:08:28,2025-01-25 01:28:06+00:00,3,turnover,bad pass,1642270,1610612757,57,61,1610612757,<NA>,<NA>,1629006
317,0 days 00:08:11,2025-01-25 01:28:24.300000+00:00,3,turnover,bad pass,1641733,1610612766,57,61,1610612766,<NA>,<NA>,1642270
321,0 days 00:07:58,2025-01-25 01:29:21+00:00,3,turnover,traveling,1642270,1610612757,57,61,1610612757,<NA>,204059,<NA>
338,0 days 00:06:50,2025-01-25 01:31:27.700000+00:00,3,turnover,lost ball,203924,1610612757,59,61,1610612757,<NA>,<NA>,1630182
359,0 days 00:05:11,2025-01-25 01:34:38.600000+00:00,3,turnover,bad pass,1631217,1610612766,65,63,1610612766,<NA>,<NA>,203924
371,0 days 00:04:41,2025-01-25 01:35:39.800000+00:00,3,turnover,lost ball,1631101,1610612757,65,65,1610612757,<NA>,<NA>,1642354
399,0 days 00:03:12,2025-01-25 01:41:28.800000+00:00,3,turnover,offensive foul,1631209,1610612766,70,66,1610612766,<NA>,1626301,<NA>
411,0 days 00:02:39,2025-01-25 01:46:21.400000+00:00,3,turnover,out-of-bounds,1630703,1610612757,72,66,1610612757,bad pass,1626301,<NA>
510,0 days 00:06:20,2025-01-25 02:06:42+00:00,4,turnover,bad pass,203995,1610612766,81,88,1610612766,<NA>,<NA>,1630166
512,0 days 00:06:16,2025-01-25 02:06:45.200000+00:00,4,turnover,bad pass,1630166,1610612757,81,88,1610612757,<NA>,<NA>,1642354
524,0 days 00:05:12,2025-01-25 02:08:43.300000+00:00,4,turnover,bad pass,203995,1610612766,83,90,1610612766,<NA>,<NA>,1629014
551,0 days 00:02:24,2025-01-25 02:19:43.600000+00:00,4,turnover,bad pass,203995,1610612766,86,94,1610612766,<NA>,<NA>,1630166
553,0 days 00:02:18,2025-01-25 02:19:52.400000+00:00,4,turnover,out-of-bounds,1630166,1610612757,86,94,1610612757,bad pass,1626301,<NA>
572,0 days 00:00:37,2025-01-25 02:23:15.900000+00:00,4,turnover,out-of-bounds,1630703,1610612757,89,96,1610612757,bad pass,204059,<NA>

In [18]:
steal_df = df_by_action.get_group('steal').dropna(how='all', axis=1)
steal_df

,clock,timeActual,period,actionType,subType,personId,possession,scoreHome,scoreAway,teamId
90,0 days 00:02:47,2025-01-25 00:27:25.900000+00:00,1,steal,,1631133,1610612757,24,17,1610612757
114,0 days 00:00:33.900000,2025-01-25 00:31:02.400000+00:00,1,steal,,1631217,1610612766,30,22,1610612766
144,0 days 00:10:27,2025-01-25 00:37:07.700000+00:00,2,steal,,1630166,1610612757,32,24,1610612757
146,0 days 00:10:12,2025-01-25 00:37:22+00:00,2,steal,,1629006,1610612766,32,24,1610612766
167,0 days 00:08:17,2025-01-25 00:43:14.500000+00:00,2,steal,,1629014,1610612757,37,28,1610612757
182,0 days 00:07:06,2025-01-25 00:45:35.900000+00:00,2,steal,,1631109,1610612766,39,33,1610612766
193,0 days 00:06:49,2025-01-25 00:46:42.500000+00:00,2,steal,,1631217,1610612766,42,33,1610612766
217,0 days 00:05:07,2025-01-25 00:51:52.200000+00:00,2,steal,,1630703,1610612757,42,36,1610612757
254,0 days 00:01:59,2025-01-25 00:58:33+00:00,2,steal,,1630166,1610612757,48,46,1610612757
288,0 days 00:10:37,2025-01-25 01:20:38.500000+00:00,3,steal,,1641739,1610612757,54,54,1610612757
300,0 days 00:10:03,2025-01-25 01:25:28.300000+00:00,3,steal,,1641739,1610612757,54,58,1610612757
305,0 days 00:09:04,2025-01-25 01:26:43+00:00,3,steal,,1629006,1610612766,54,61,1610612766
312,0 days 00:08:28,2025-01-25 01:28:06+00:00,3,steal,,1629006,1610612766,57,61,1610612766
318,0 days 00:08:11,2025-01-25 01:28:24.300000+00:00,3,steal,,1642270,1610612757,57,61,1610612757
339,0 days 00:06:50,2025-01-25 01:31:27.700000+00:00,3,steal,,1630182,1610612766,59,61,1610612766
360,0 days 00:05:11,2025-01-25 01:34:38.600000+00:00,3,steal,,203924,1610612757,65,63,1610612757
372,0 days 00:04:41,2025-01-25 01:35:39.800000+00:00,3,steal,,1642354,1610612766,65,65,1610612766
511,0 days 00:06:20,2025-01-25 02:06:42+00:00,4,steal,,1630166,1610612757,81,88,1610612757
513,0 days 00:06:16,2025-01-25 02:06:45.200000+00:00,4,steal,,1642354,1610612766,81,88,1610612766
525,0 days 00:05:12,2025-01-25 02:08:43.300000+00:00,4,steal,,1629014,1610612757,83,90,1610612757
552,0 days 00:02:24,2025-01-25 02:19:43.600000+00:00,4,steal,,1630166,1610612757,86,94,1610612757