# Validate Data
After scraping the data using the `NBAScraper` from `scripts/scraping.py`, we need to validate the data across multiple seasons.

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
data_path = Path("~/MBAI/data/").expanduser()

In [3]:
team_gamelogs = []
player_gamelogs = []
for season_dir in data_path.iterdir():
    team_gamelogs.append(pd.read_csv(season_dir / "raw_team_gamelogs.csv"))
    player_gamelogs.append(pd.read_csv(season_dir / "raw_player_gamelogs.csv"))

In [11]:
game_actions = []
for season_dir in data_path.iterdir():
    for game_dir in season_dir.iterdir():
        if game_dir.is_dir() and game_dir.name.startswith('g'):
            game_actions.append(pd.read_csv(game_dir / "raw_actions.csv"))

In [12]:
actions_df = pd.concat(game_actions)

We have loaded all the data we've scraped. It is now time to clean it and validate it.

### Team Gamelogs

In [44]:
team_gamelogs_df = pd.concat(team_gamelogs)

In [45]:
team_gamelogs_df.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE'],
      dtype='object')

In [46]:
cols2drop = [
    'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_DATE', 
    'MATCHUP', 'PLUS_MINUS', 'VIDEO_AVAILABLE'
]
team_gamelogs_df.drop(columns=cols2drop, inplace=True)

In [47]:
team_gamelogs_df = team_gamelogs_df.set_index(['SEASON_ID', 'GAME_ID', 'TEAM_ID']).sort_index()

In [48]:
team_gamelogs_df

                              WL  MIN  FGM  FGA  FG_PCT  FG3M  FG3A  FG3_PCT  \
SEASON_ID GAME_ID  TEAM_ID
22021     22100001 1610612749  W  240   48  105   0.457    17    45    0.378
                   1610612751  L  240   37   84   0.440    17    32    0.531
          22100002 1610612744  W  240   41   93   0.441    14    39    0.359
                   1610612747  L  240   45   95   0.474    15    42    0.357
          22100003 1610612754  L  240   42   90   0.467    17    47    0.362
...                           ..  ...  ...  ...     ...   ...   ...      ...
22024     22401228 1610612744  L  240   49  103   0.476    27    54    0.500
          22401229 1610612737  L  240   35   82   0.427    10    24    0.417
                   1610612749  W  240   39   86   0.453    14    45    0.311
          22401230 1610612745  L  240   35   96   0.365    11    46    0.239
                   1610612760  W  240   36   80   0.450    11    30    0.367

                               FTM  FTA  FT_PCT  OREB  DREB  REB  AST  STL  \
SEASON_ID GAME_ID  TEAM_ID
22021     22100001 1610612749   14   18   0.778    13    41   54   25    8
                   1610612751   13   23   0.565     5    39   44   19    3
          22100002 1610612744   25   30   0.833     9    41   50   30    9
                   1610612747    9   19   0.474     5    40   45   21    7
          22100003 1610612754   21   24   0.875     8    43   51   29    2
...                            ...  ...     ...   ...   ...  ...  ...  ...
22024     22401228 1610612744    8   11   0.727    15    22   37   39    8
          22401229 1610612737   22   34   0.647     7    37   44   23    3
                   1610612749   18   27   0.667     6    41   47   28    8
          22401230 1610612745   15   25   0.600    19    30   49   17    7
                   1610612760   28   32   0.875     4    39   43   19   12

                               BLK  TOV  PF  PTS
SEASON_ID GAME_ID  TEAM_ID
22021     22100001 1610612749    9    8  19  127
                   1610612751    9   13  17  104
          22100002 1610612744    2   17  18  121
                   1610612747    4   18  25  114
          22100003 1610612754   10   17  24  122
...                            ...  ...  ..  ...
22024     22401228 1610612744    2   10  17  133
          22401229 1610612737    6   13  20  102
                   1610612749    8   13  27  110
          22401230 1610612745    3   16  25   96
                   1610612760    4   12  24  111

[9840 rows x 20 columns]

In [49]:
team_gamelogs_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9840 entries, (np.int64(22021), np.int64(22100001), np.int64(1610612749)) to (np.int64(22024), np.int64(22401230), np.int64(1610612760))
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   WL       9840 non-null   object
 1   MIN      9840 non-null   int64
 2   FGM      9840 non-null   int64
 3   FGA      9840 non-null   int64
 4   FG_PCT   9840 non-null   float64
 5   FG3M     9840 non-null   int64
 6   FG3A     9840 non-null   int64
 7   FG3_PCT  9840 non-null   float64
 8   FTM      9840 non-null   int64
 9   FTA      9840 non-null   int64
 10  FT_PCT   9839 non-null   float64
 11  OREB     9840 non-null   int64
 12  DREB     9840 non-null   int64
 13  REB      9840 non-null   int64
 14  AST      9840 non-null   int64
 15  STL      9840 non-null   int64
 16  BLK      9840 non-null   int64
 17  TOV      9840 non-null   int64
 18  PF       9840 non-null   int64
 19  PTS      9840 non-null   int64
dtypes: float64(3), int64(16), object(1)
memory usage: 1.7+ MB

In [50]:
assert team_gamelogs_df.index.get_level_values('TEAM_ID').nunique() == 30

In [51]:
wl_counts = team_gamelogs_df['WL'].value_counts()
assert wl_counts['W'] == wl_counts['L'], f"Wins ({wl_counts['W']}) and losses ({wl_counts['L']}) don't match"

In [52]:
team_gamelogs_df['WL'] = team_gamelogs_df['WL'].replace({'W': True, 'L': False})

/tmp/ipykernel_9647/923970584.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  team_gamelogs_df['WL'] = team_gamelogs_df['WL'].replace({'W': True, 'L': False})

In [54]:
int_cols = team_gamelogs_df.select_dtypes(include=['int64']).columns
team_gamelogs_df[int_cols] = team_gamelogs_df[int_cols].apply(pd.to_numeric, downcast='unsigned')

In [56]:
float_cols = team_gamelogs_df.select_dtypes(include=['float64']).columns
team_gamelogs_df[float_cols] = team_gamelogs_df[float_cols].astype('float16')

In [57]:
team_gamelogs_df.dtypes

WL            bool
MIN         uint16
FGM          uint8
FGA          uint8
FG_PCT     float16
FG3M         uint8
FG3A         uint8
FG3_PCT    float16
FTM          uint8
FTA          uint8
FT_PCT     float16
OREB         uint8
DREB         uint8
REB          uint8
AST          uint8
STL          uint8
BLK          uint8
TOV          uint8
PF           uint8
PTS          uint8
dtype: object

In [59]:
original_memory = pd.concat(team_gamelogs).memory_usage(deep=True).sum()
optimized_memory = team_gamelogs_df.memory_usage(deep=True).sum()

print(f"Original df memory: {original_memory / 1024**2:.2f} MB")
print(f"Optimized df memory: {optimized_memory / 1024**2:.2f} MB")
print(f"Memory saved: {(original_memory - optimized_memory) / 1024**2:.2f} MB ({(1 - optimized_memory/original_memory)*100:.1f}%)")

Original df memory: 4.55 MB
Optimized df memory: 0.43 MB
Memory saved: 4.12 MB (90.6%)

### Player Gamelogs

In [60]:
player_gamelogs_df = pd.concat(player_gamelogs)

In [61]:
player_gamelogs_df.columns

Index(['SEASON_ID', 'PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'PLUS_MINUS', 'FANTASY_PTS', 'VIDEO_AVAILABLE'],
      dtype='object')

In [62]:
player_gamelogs_df.isna().sum()

SEASON_ID                0
PLAYER_ID                0
PLAYER_NAME              0
TEAM_ID                  0
TEAM_ABBREVIATION        0
TEAM_NAME                0
GAME_ID                  0
GAME_DATE                0
MATCHUP                  0
WL                       0
MIN                      0
FGM                      0
FGA                      0
FG_PCT                5465
FG3M                     0
FG3A                     0
FG3_PCT              22352
FTM                      0
FTA                      0
FT_PCT               46952
OREB                     0
DREB                     0
REB                      0
AST                      0
STL                      0
BLK                      0
TOV                      0
PF                       0
PTS                      0
PLUS_MINUS               0
FANTASY_PTS              0
VIDEO_AVAILABLE          0
dtype: int64

In [63]:
cols2drop = [
    'PLAYER_NAME', 'TEAM_ID', 'TEAM_ABBREVIATION',
    'TEAM_NAME', 'GAME_DATE', 'MATCHUP', 
    'FG_PCT', 'FG3_PCT', 'FT_PCT',
    'FANTASY_PTS', 'VIDEO_AVAILABLE',
]
player_gamelogs_df.drop(columns=cols2drop, inplace=True)

In [65]:
player_gamelogs_df = player_gamelogs_df.set_index(['SEASON_ID', 'GAME_ID', 'PLAYER_ID']).sort_index()

In [66]:
player_gamelogs_df

                             WL  MIN  FGM  FGA  FG3M  FG3A  FTM  FTA  OREB  \
SEASON_ID GAME_ID  PLAYER_ID
22021     22100001 200746     L   16    0    2     0     0    1    4     0
                   200794     L    5    0    0     0     0    0    0     1
                   201142     L   30   13   25     3     7    3    6     0
                   201572     W   28    3    9     2     4    0    0     2
                   201588     W   23    0    3     0     2    1    2     2
...                          ..  ...  ...  ...   ...   ...  ...  ...   ...
22024     22401230 1631106    L   17    3    8     2     6    4    6     0
                   1631114    W   39    8   20     2     5    2    2     0
                   1641708    L   30    9   15     0     1    1    3     4
                   1641717    W   32    2    6     1     4    0    0     1
                   1642349    W    9    0    0     0     0    2    2     0

                              DREB  REB  AST  STL  BLK  TOV  PF  PTS  \
SEASON_ID GAME_ID  PLAYER_ID
22021     22100001 200746        3    3    1    0    1    1   2    1
                   200794        2    3    0    0    1    1   0    0
                   201142       11   11    4    0    2    1   2   32
                   201572        3    5    0    1    3    0   3    8
                   201588        3    5    3    0    1    1   5    1
...                            ...  ...  ...  ...  ...  ...  ..  ...
22024     22401230 1631106       2    2    0    0    1    0   4   12
                   1631114       5    5    5    1    0    3   2   20
                   1641708       3    7    1    3    0    4   3   19
                   1641717       5    6    2    1    1    2   3    5
                   1642349       2    2    1    0    0    0   1    2

                              PLUS_MINUS
SEASON_ID GAME_ID  PLAYER_ID
22021     22100001 200746              2
                   200794             -1
                   201142            -20
                   201572              0
                   201588             -6
...                                  ...
22024     22401230 1631106           -12
                   1631114            10
                   1641708           -14
                   1641717             8
                   1642349             8

[104641 rows x 18 columns]

In [67]:
player_gamelogs_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 104641 entries, (np.int64(22021), np.int64(22100001), np.int64(200746)) to (np.int64(22024), np.int64(22401230), np.int64(1642349))
Data columns (total 18 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   WL          104641 non-null  object
 1   MIN         104641 non-null  int64
 2   FGM         104641 non-null  int64
 3   FGA         104641 non-null  int64
 4   FG3M        104641 non-null  int64
 5   FG3A        104641 non-null  int64
 6   FTM         104641 non-null  int64
 7   FTA         104641 non-null  int64
 8   OREB        104641 non-null  int64
 9   DREB        104641 non-null  int64
 10  REB         104641 non-null  int64
 11  AST         104641 non-null  int64
 12  STL         104641 non-null  int64
 13  BLK         104641 non-null  int64
 14  TOV         104641 non-null  int64
 15  PF          104641 non-null  int64
 16  PTS         104641 non-null  int64
 17  PLUS_MINUS  104641 non-null  int64
dtypes: int64(17), object(1)
memory usage: 15.1+ MB

In [71]:
player_gamelogs_df['WL'] = player_gamelogs_df['WL'].replace({'W': True, 'L': False})

/tmp/ipykernel_9647/1418774378.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  player_gamelogs_df['WL'] = player_gamelogs_df['WL'].replace({'W': True, 'L': False})

In [75]:
int_cols = player_gamelogs_df.select_dtypes(include=['int64']).columns
player_gamelogs_df[int_cols] = player_gamelogs_df[int_cols].apply(pd.to_numeric, downcast='unsigned')

In [77]:
player_gamelogs_df['PLUS_MINUS'] = pd.to_numeric(player_gamelogs_df['PLUS_MINUS'], downcast='signed')

In [78]:
player_gamelogs_df.dtypes

WL             bool
MIN           uint8
FGM           uint8
FGA           uint8
FG3M          uint8
FG3A          uint8
FTM           uint8
FTA           uint8
OREB          uint8
DREB          uint8
REB           uint8
AST           uint8
STL           uint8
BLK           uint8
TOV           uint8
PF            uint8
PTS           uint8
PLUS_MINUS     int8
dtype: object

In [79]:
original_memory = pd.concat(player_gamelogs).memory_usage(deep=True).sum()
optimized_memory = player_gamelogs_df.memory_usage(deep=True).sum()

print(f"Original df memory: {original_memory / 1024**2:.2f} MB")
print(f"Optimized df memory: {optimized_memory / 1024**2:.2f} MB")
print(f"Memory saved: {(original_memory - optimized_memory) / 1024**2:.2f} MB ({(1 - optimized_memory/original_memory)*100:.1f}%)")

Original df memory: 56.27 MB
Optimized df memory: 2.50 MB
Memory saved: 53.77 MB (95.6%)

### Gamelogs Validation

Now that we have cleaned the gamelogs, it is time to validate the data.

In [80]:
team_game_ids = set(team_gamelogs_df.index.get_level_values('GAME_ID'))
player_game_ids = set(player_gamelogs_df.index.get_level_values('GAME_ID'))

In [82]:
assert team_game_ids == player_game_ids, (
    f"Game ID mismatch! "
    f"Team IDs: {len(team_game_ids)}, Player IDs: {len(player_game_ids)}. "
    f"Difference: {team_game_ids ^ player_game_ids}"
)

In [129]:
commonstats = set(team_gamelogs_df.columns) & set(player_gamelogs_df.columns)
print(commonstats)

{'DREB', 'FTM', 'STL', 'PTS', 'FGM', 'AST', 'MIN', 'FTA', 'FG3M', 'WL', 'PF', 'REB', 'FGA', 'OREB', 'BLK', 'TOV', 'FG3A'}

In [116]:
stats2check = commonstats ^ {'MIN', 'WL'}

In [126]:
discrepancies = []
for game_id in team_game_ids:
    T_df = team_gamelogs_df.xs(game_id, level='GAME_ID')
    assert len(T_df) == 2

    P_df = player_gamelogs_df.xs(game_id, level='GAME_ID')
    
    for WL_status in [True, False]:
        team = T_df[T_df['WL'] == WL_status].iloc[0]
        assert team['DREB'] + team['OREB'] == team['REB']
        
        players = P_df[P_df['WL'] == WL_status]
        assert len(players) >= 5

        players_summed = players.sum()        
        assert players_summed['DREB'] + players_summed['OREB'] == players_summed['REB'] 
    
        for stat in stats2check:
            team_stat = team[stat]  
            players_stat = players_summed[stat]
            diff = team_stat - players_stat

            if abs(diff) > 0.0:
                discrepancies.append({
                    'game_id': game_id,
                    'stat': stat,
                    'team_stat': team_stat,
                    'players_stat': players_stat,
                    'diff': diff
                })

discrepancies_df = pd.DataFrame(discrepancies)

In [127]:
discrepancies_df['stat'].unique()

array(['TOV'], dtype=object)

In [128]:
discrepancies_df['diff'].unique()

array([1., 2., 3., 4., 5., 6., 7.])

The only stat that appears to be discrepant between team and players gamelogs is 'TOV', that is because a team can lose the possession without any player losing the ball.

### Saving Gamelogs

In [142]:
for season_id, season_df in team_gamelogs_df.groupby(level='SEASON_ID'):
    season_path = data_path / f"rs{season_id}"
    
    for game_id, game_df in season_df.groupby(level='GAME_ID'):    
        game_path = season_path / f"g00{game_id}"
        
        teams_df = game_df.reset_index(['SEASON_ID', 'GAME_ID'], drop=True)    
        teams_df.to_parquet(game_path / "teams_gamelog.parquet")
        
        players_df = player_gamelogs_df.xs(game_id, level='GAME_ID').reset_index('SEASON_ID', drop=True)
        players_df.to_parquet(game_path / "players_gamelog.parquet")

In [ ]:
teams_gamelogs = []
players_gamelogs = []
for season_dir in data_path.iterdir():
    for game_dir in season_dir.iterdir():
        if game_dir.is_dir() and game_dir.name.startswith('g'):
            teams_gamelogs.append(pd.read_parquet(game_dir / "teams_gamelog.parquet"))
            players_gamelogs.append(pd.read_parquet(game_dir / "players_gamelog.parquet"))

assert len(teams_gamelogs) == len(players_gamelogs)